
.ab_all_wrapper {
	position: relative;
}

.ab_main_content_wrapper {
	width : 960px;
	margin : 20px auto;
	background-color :  rgba(255, 255, 255, 1);
	padding : 40px;
	z-index: 3;
	opacity : 1;
}

// .ab_main_content_wrapper_addopa {
// 	opacity : 1 !important;
// }

// CG画像での背景のテストを行っている
.ab_cg_image_wrapper {
	background-image : url("/storage/app_images/blender/test15.png");
	background-size: cover;
	background-position: center center;
	width : 100%;
	height : 100vh;
	position: fixed;
	top : 0;
	left : 0;
	opacity : 0.5;
	z-index: -1;
}

// タイトル
.ab_title {
	font-size : 2rem;
	margin : 20px 0;
	text-align: center;
	letter-spacing: 3px;
	color : #444;
	// border-bottom : 1px solid black;
	// display: inline-block;
}



// .ab_back_color_wrapper {
//
// 	width : 100%;
// 	height : 100vh;
// 	position: fixed;
// 	top : 0;
// 	left : 0;
// 	opacity : 1;
// 	z-index: -2;
// }



// about what

.ab_text_wrapper {

	p {
		line-height: 2;
	}
}


.ab_1_text {
	font-size : 2rem;
	font-weight : bold;
	text-align : center;
	margin : 60px 0;
	// padding : 40px 60px;
	letter-spacing: 4px;
	color : #444;
	position: relative;
	// display: inline-block;

	// img {
	// 	position: absolute;
	// 	width : 100%;
	// 	height : 100%;
	// 	top : 0;
	// 	left : 0;
	// }
}

.ab_2_text {
	text-align: center;
	font-size : 1.5rem;
	margin : 25px 0;

	span {
		font-weight: bold;
		letter-spacing: 2px;
		padding : 0 5px;
		border-bottom : 1px solid #444;
	}
}


// main_image
.ab_main_image_wrapper {
	width : 75%;
	margin : 0 auto;
	position: relative;
	img {
		width : 100%;
		// position: absolute;
		// transition : opacity 0.5s ease;
	}

	.ab_main1_image {
		opacity : 1;
		position: relative;
	}

	.ab_main1_back_image {
		opacity : 0;
		position: absolute;
		top : 0;
		left : 0;
	}
}

.ab_main_back_opa {
	opacity : 1 !important;
}
.ab_main_opa {
	opacity : 0 !important;
}



// このサイトが目指すもの , 特徴
.ab_3_wrapper , .ab_4_wrapper {
	display: flex;
	justify-content: center;
	letter-spacing: 1px;
}

.ab_3_text , .ab_4_text {
	text-align: center;
	font-weight : bold;
	// border-bottom : 1px solid #666;
	padding : 3px 20px;
	// background-color: rgb(60, 126, 255);
	color : #666;
	display: inline-block;
	border-radius: 6px;
	margin : 20px 0 10px 0;
	font-size : 1.3rem;

}

.ab_desc_wrapper , .ab_feature_wrapper{
	width : 100%;
	position: relative;
	display: flex;
	flex-wrap : wrap;
	justify-content: center;
	align-content: center;

}

.ab_desc_content , .ab_feature_content{
	width : 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin : 5px;
	border : 1px solid #999;
	img {
		width : 200px;
		height : 200px;
		padding : 50px;
	}

	p {
		font-weight : bold;
		width : 100%;
		text-align: center;
		margin : 10px 0;
		color : #333;
	}
}

// 区切り
.ab_hr_wrapper {
	width : 100%;
	position: relative;
	margin : 20px 0;
	img {
		width : 100%;
	}
}

.ab_hr2_wrapper {
	opacity : 1;
}

// cg wrapper
.ab_cg_wrapper {

}

.ab_cg_content {
	display: flex;
}

.ab_cg_item {
	width : 50%;
	position: relative;
	img {
		width : 100%;
	}
}

// who!
.ab_who_wrapper {

}

.ab_who_content {
	width : 100%;
	display: flex;
}

.ab_who_item {
	width : 50%;
	position: relative;
	img.ab_who_image {
		width : 60%;
	}
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.ab_twitter_logo_my {
	width : 40px;
	height : 40px;
}
