

footer {
	width : 100%;
	margin : 20px 0;
}

.footer_wrapper_1 {
	display: flex;
	justify-content: center;

	div {
		padding : 0 10px 0;

		&:not( :first-child ) {
			border-left : 1px solid $color_orange;

		}
	}

	a {
		text-decoration: none;
		color : $color_orange;
	}

}
